@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import "tailwindcss";

@theme {
  --font-open-sans: "Open Sans", sans-serif;
  --color-white: #F6F6F6;
  --color-primary-color: #0b1f52;
  --color-secondary-color: #0bc0a2;
  --color-text-colors: #606060;
  --color-violet: #7c3aed;
  --text-desktop-title: 32px;
  --text-desktop-subtitle: 24px;
  --text-desktop-text: 16px;
  --text-mobile: 24px;
  --text-mobile-subtitle: 16px;
  --text-mobile-text: 12px;
  --breakpoint-xsm: 450px;
  --breakpoint-xs: 648px;
}
